body {
    background: linear-gradient(to right, rgba(255,0,0,0.9),rgba(0,0,0,0.9));
    height: 100%;
    margin: 0;
}

.active-tab {
	background-color: white;
	color: black;
	border-color: white;
	font-weight: bold;
}

.active-tab a{
	color: black;
	font-weight: bold;
}
table, th {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 2px 45px 2px 45px;
	background-color: #000000;
	color: white;
	font-family: Arial;
	margin-top: 15px;
}

.row-link {
			text-decoration: none;
			color: white;
			transition: color 0.3s ease-in-out;
		}
	.row a:hover {
		color: lightgray;
}

.games-container {
            display: flex;
			flex-wrap: wrap;
			justify-content: center;
            gap: 10px;
            width: 80%;
            margin: 20px auto;
}

.game-box {
	background: linear-gradient(to right, rgba(255,0,0,0.4),rgba(0,0,0,0.4));
	border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
	width: 185px;
	justify-content: center;
}

.game-img {
    width: 100%;
    height: auto;
    max-height: 130px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    margin: 0 0 5px 0;
}

.game-title {
    color: white;
    font-size: 14px;
    font-family: Arial;
    text-align: center;
    margin-top: 5px;
}

.nav-container {
    display: flex;
    align-items: center;
	justify-content: center;
}

.link-container {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: black;
    font-size: 16px;
	gap: 40px;
}

.game-box {
    transition: transform 0.3s ease-in-out; /* Adaugă o tranziție smooth pentru efect */
}

.game-box:hover {
    transform: scale(1.05); /* Mărește scara elementului cu 5% la hover */
}

.row-link {
			text-decoration: none;
			color: white;
			transition: color 0.3s ease-in-out;
		}
		.row a:hover {
			color: black;
		}