body {
    background: linear-gradient(to right, rgba(255,0,0,0.9),rgba(0,0,0,0.9));
    height: 100%;
    margin: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    gap: 50px;
}

.text {
    font-size: 18px;
    text-indent: 5px;
    padding: 10px;
    border-radius: 15px;
}

.image {
    margin-right: 15px;
    width: 50px;
    height: 50px;
    text-align: right;
}

.icon-container {
    display: flex;
    align-items: center;
    gap: 15px;
}

.icon {
}

.icon-img {
    width: 25px;
    height: 25px;
}

.container2 {
    display: flex;
    align-items: right;
    justify-content: flex-end;
    gap: 15px;
}

.logo {
    width: 50px;
    height: 50px;
}

.footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.trending {
    width: 450px;
    margin: 12px auto;
    height: 250px;
    background: linear-gradient(to right, rgba(255,0,0,0.4),rgba(0,0,0,0.4));
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    padding: 5px;
}

.image-inside {
    width: 425px;
    height: 190px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: auto;
}

.denumire {
    color: white;
    font-size: 16px;
    font-family: Arial;
    padding: 5px 10px;
    text-align: left;
    align-self: flex-start;
    margin-top: 5px;
}

.centered-paragraph {
	text-align: left;
	margin: 15px 0 0 540px;
	font-family: Arial;
	font-size: 24px;
	color: white;
}

table, th {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 2px 45px 2px 45px;
	background-color: #000000;
	color: white;
	font-family: Arial;
}

th {
	transition: background-color 0.3s ease-in-out;
	transition: border-color 0.3s ease-in-out;
}

th:hover {
	background-color: lightgray;
	color: black;
	border-color: lightgray;
}

.game-box {
    transition: transform 0.3s ease-in-out;
}

.game-box:hover {
    transform: scale(1.05);
}

.game-site {
	text-decoration: none;
	color: white;
}